* {
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca";
}

.white {
    color: white;
}


.red {
    color: darkred;
}




.hero-banner {
    /* Makes the image fit the wrapper */
    object-fit: cover;

    /* Position the image */
    position: absolute;
    top: 0;

    width: 100%;
    height: 120%;

    z-index: -1;
    padding-bottom: 1.5rem;

    filter: brightness(30%);

}


.hero {
    overflow: hidden;
    top: 0;
    width: 100%;

    /* Dynamically adjusts the wrapper height between 760 to 870px based on the viewport */
    height: 100%;

    z-index: 0;
    
} 

.hero-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 0rem;
    background-color: rgba(0, 0, 0, 0.5);
    width: 60%;
    height:85%;
    border-radius: 40px;
    transform: translateY(30%);
    padding-left: 2rem;
}

.column-left h1 {
    margin-bottom: 1.5rem;
    font-size: 100px;
    line-height: 100px
}

.column-left p {
    font-size: 50px;
}


.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.hero-image {
    width: 70%;
    height: 70%;
}

.hero-text {
    font-weight: 800;
    line-height: 50px;
    z-index: 2;
}

.img-section-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: .7fr 1fr .7fr;
    width: 102%;
    height: auto;
    margin-top: 20rem;
    column-gap: 0%;;
    transform: translateX(-2%);
    padding: 5rem;
}

.img-content {
    width: 75%;
    position: relative;
    height: 75%;
    transform: translate(25%);
    box-shadow: 
        8px 10px rgba(0, 0, 0, 0.5),
        -8px 10px rgba(139, 0, 0, 0.7);
    border-radius: 10%;
}

.img-content:hover {
    filter: brightness(70%);
    transition: 0.3s ease-in-out;
}

.largeIMG-content {
    width: 95%;
    height: 75%;
    position: relative;
    transform: translate(8%);
    box-shadow: 
        8px 10px rgba(0, 0, 0, 0.5),
        -8px 10px rgba(139, 0, 0, 0.7);
    border-radius: 10%;
}

.largeIMG-content:hover {
    filter: brightness(70%);
    transition: 0.3s ease-in-out;
}

.indexIntro-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height:auto;
    padding: 0;
    column-gap: 0%;
    background-color: #f0f0f0;
}

.introImage-Wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.mainIntro-Img {
    position: absolute;
    width: 80%;
    height: auto;
    transform: translate(25%);
    z-index: 0;
    max-height: 90vh;
    object-fit: contain;
}
.mainIntro-Img:hover {
    filter: brightness(70%);
    transition: 0.3s ease-in-out;
}

.sideIntro-Img {
    position: relative;
    width: 125%;
    height: auto;
    transform: translate(10%, 130%);
    z-index: 1;
    box-shadow: 
        8px 10px rgba(0, 0, 0, 0.5),
        -8px 10px rgba(139, 0, 0, 0.7);
    border-radius: 10%;
}

.sideIntro-Img:hover {
    filter: brightness(70%);
    transition: 0.3s ease-in-out;
}


.introTXT-content-wrapper {
    transform: translateY(10%);
    padding:0 2rem 0 2rem;
    height:auto;
    padding-bottom: 15vh;
}

.introTXT-content-wrapper p {
    text-align: center;
    font-size: 25px;
}

.divider-wrapper {
    position: relative;
    width: 100%;
}

.divider-line {
    position: relative;
    padding: 10px 10px;
    width: 90%;
    height: 2%;
    background: linear-gradient(to right, orange, red);
    border-radius: 10px/50%;
    margin-top: 5rem;
    transform: translateX(5%);
}

.contentSideHeader-Wrapper {
    position: relative;
    width: 60%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    transform: translate(20%);

}

.contentSideHeader-Wrapper h1 {
    width: 25rem;

}

.contentSideHeader-Wrapper img {
    width: 9vh;
    position: relative;
    padding: 10px;
    transform: translate(0%);
}

@media screen and (max-width: 768px) {

    .img-section-wrapper {
        grid-template-columns: .7fr;
        row-gap: 3rem;
    }

    .contentSideHeader-Wrapper {
        grid-template-columns:1fr;
        column-gap: 2rem;
    }
    .contentSideHeader-Wrapper img {
        transform: translate(160%);
    }

    .img-content {
        width: 100%;
        height: 80%;
        transform: translate(25%);
    }
    
    .largeIMG-content {
        width: 100%;
        height: 100%;
        transform: translate(25%,-25%);
    }

    
    .mainIntro-Img {
        transform: translateX(10%);
    }

    .sideIntro-Img {
        transform: translate(10%,180%);
    }

    .column-left h1 {
        margin-top: 5rem;
        font-size: 65px;
    
    }
    
    .hero-container {
      grid-template-columns: 1fr;
    }


    .hero-image {
        display: none;
    }

  }

@media screen and (min-width:768px) {
    
    .column-left h1 {
        font-size: 100px;

    }

    .column-left p {
        font-size: 60px;
    }
    
    .hero-text {
        line-height: 85px;
    }

    .contentSide-wrapper {
        transform: translate(-20%,20%);
    }

    .introTXT-content-wrapper h1 {
        text-align: none;
    }


    .introTXT-content-wrapper {
        transform: translateY(10%);
    }
    
    .introTXT-content-wrapper p {
        font-size: 15px;
    }

    .img-section-wrapper {
        grid-template-columns: .7fr 1fr .7fr;
        row-gap: 0rem;
    }


    .img-content {
        width: 75%;
        height: 75%;
    }
    
    .largeIMG-content {
        width: 95%;
        height: 75%;
        transform: translate(8%);
    }

    .indexIntro-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .introImage-Wrapper {
        margin-bottom:0%;
    }
    

    .mainIntro-Img {
        width: 80%;
        transform: translate(10%);
    }
    
    .sideIntro-Img {
        width: 125%;
        transform: translate(10%, 200%);
    }
}

@media screen and (max-width:900px) {
    .indexIntro-wrapper {
        grid-template-columns: 1fr;
    }

    .introImage-Wrapper {
        margin-bottom: 90%;
    }

    .contentSide-wrapper {
        transform: translate(0%,10%);
    }
    
    .introTXT-content-wrapper {
        transform: translateY(10%);
    }

    .introTXT-content-wrapper h1 {
        text-align: center;
    }

    .introTXT-content-wrapper p {
        text-align: center;
        font-size: 15px;
    }
    
}

@media screen and (min-width:900px) {
    .indexIntro-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height:auto;
        padding-top: 10vh;
        column-gap: 0%;
        background-color: #f0f0f0;
    }
    
    .introImage-Wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr; /* Ensures both images get a column each */
    }
    
    
    .mainIntro-Img {
        position: absolute;
        width: 80%;
        height: auto;
        transform: translate(25%);
        z-index: 0;
        max-height: 90vh; /* Adjust this value based on your design */
        object-fit: contain;
    }
    
    .sideIntro-Img {
        position: relative;
        width: 125%;
        height: auto;
        transform: translate(10%, 140%);
        z-index: 1;
        box-shadow: 
            8px 10px rgba(0, 0, 0, 0.5),
            -8px 10px rgba(139, 0, 0, 0.7);
    }
    
    
    .introTXT-content-wrapper {
        transform: translateY(10%);
    }
    
    .introTXT-content-wrapper p {
        text-align: center;
        font-size: 1.7vw;
    }

    
    .contentSide-wrapper {
        transform: translate(-10%,20%);
    }
}




@media screen and (min-width: 1200px) {
    .contentSide-wrapper {
        transform: translate(-10%, 25%); /* Adjust for larger screens */
    }

    .indexIntro-wrapper {

        padding-bottom: 15%;
    }
}

@media screen and (max-width: 1000px) {
    .column-left {
        width: 100%;
    }
}

/* @media screen and (max-width: 900px) {
    .column-left {
        width: 70%;
    }
}

@media screen and (max-width: 550px) {
    .column-left {
        width: 80%;
    }
}

@media screen and (max-width: 450px) {
    .column-left {
        width: 100%;
    }
}
 */
