* {
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca";
}

.white {
    color: white;
}


.red {
    color: darkred;
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.wblWrapper {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.wblImg {
    width: 80%;
    position: relative;
    border-radius: 15px;
    display: flex;
    transform: translate(15%);
}

.divider-line {
    position: relative;
    padding: 10px 10px;
    width: 90%;
    height: 8%;
    background: linear-gradient(to right, orange, red);
    border-radius: 10px/50%;
    margin-bottom: 5rem;
    margin-top: 5rem;
    transform: translateX(5%);
    animation: slide-divider .5s ease-in-out;
}

.introWBL_wrapper{
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.introWBL_wrapper h1 {
    transform: translateY(10%);
    font-size: 6vw;
    display: flex;
    justify-content: center;
}

.wblContent_wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 80%;
    transform: translate(10%);
    column-gap: 7%;
}

.wblContent_wrapper p {
    font-size: 1.7vw;
}

.wblContent_wrapper img {
    width: 80%;
    transform: translate(25%);
}

@keyframes slide-divider {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@media screen and (max-width:500px) {
    .introWBL_wrapper{
        grid-template-columns: repeat(1, 1fr);
    }

    .introWBL_wrapper h1 {
        margin-top: 10%;
    }
    .wblContent_wrapper {

        grid-template-columns: repeat(1,1fr);

    }
    .wblContent_wrapper p {
        font-size: 2.5vw;
        margin-bottom: 10%;
    }
}

