* {
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca";
}

.white {
    color: white;
}


.red {
    color: darkred;
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.wblWrapper {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.wblImg {
    width: 80%;
    position: relative;
    border-radius: 15px;
    display: flex;
    transform: translate(15%);
}

.wbl-glad-logo {
    width: 50%;
    transform: translate(50%);
}


.divider-line {
    position: relative;
    padding: 10px 10px;
    width: 90%;
    height: 8%;
    background: linear-gradient(to right, orange, red);
    border-radius: 10px/50%;
    margin-bottom: 5rem;
    margin-top: 5rem;
    transform: translateX(5%);
    animation: slide-divider .5s ease-in-out;
}

.introWBL_wrapper{
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0%;
}

.introWBL_wrapper h1 {
    transform: translate(-10%,50%);
    font-size: 3vw;
    display: flex;
    justify-content: center;
}

.wblContent_wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 80%;
    transform: translate(10%);
    column-gap: 7%;
}

.wblContent_wrapper p {
    font-size: 1.7vw;
}

.wblContent_wrapper img {
    width: 80%;
    transform: translate(25%);
}

.strip-container {
    position: relative;
    width: 100%;
    margin-top: 7rem;

}

.red-strip {
    width: 100%;
    height: 100px;
    background-color: darkred;
    position: relative;
    color: white;
    font-size: 3vw;

    h1 {
        transform: translate(0,50%);
    }
}

.strat-container-primary {
    width: 100%;
    height: auto;
    padding: 5%;
    margin-top: 1rem;

}

.strat-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    gap: 20px;

    h2 {
        font-size:2vw;
    }
}

.bullet-grid-container {
    counter-reset: item;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}

.bullet-grid-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bullet-grid-container li {
    font-size: 1.6vw;
    padding-top: 10px;
    position: relative;
    padding-left: 60px;
    padding-top: 1.5rem;
}

.bullet-grid-container li::before {
    content: counter(item) '.';
    counter-increment: item;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    background-color: darkred;
    color: white;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.pathway-container-primary {
    width: 100%;
    height: auto;
    padding: 5%;
    background: #f0f0f0;
}

.pathway-card-container {
    background-color: darkred;
    border-radius: 20px;
}

.standard10-description-wrapper {
    padding: 6%;
    margin-top: 30px;

    p {
        font-size: 1.6rem;

        @media screen and (max-width:768px) {
            font-size: 1rem;
        }
    }
}

.grid-2-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
    color: white;
    margin-top:5%;
    font-size: 1.6vw;

    img {
        width: 80%;
        height: 80%;
    }
}

.grid-3-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
    padding: 0 5% 5% 5%;
    position: relative;
    text-align: center;

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
        row-gap: 5%;
    }
}
.grid-2-container-button {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    padding: 0 5% 5% 5%;
    position: relative;
    text-align: center;

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
        row-gap: 5%;
    }
}

.button {
    display: block;
    width: 100%;
    padding: 12px 20px; 
    color: black;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: white;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: black;
    color: white;
  }
  

.lab-container-primary {
    width: 100%;
    height: auto;
    padding: 5%;
}

.grid-2-lab {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10%;

}

.lab-card {
    width: 100%;
    height: auto;
    background-color: darkred;
    border-radius: 50px;

    img {
        width: 90%;
        height: 90%;
        transform: translate(8%);
    }

    h1 {
        color: white;
        margin-bottom: 2rem;
    }
}

.video-container-instruction {
    height: auto;
    width: 100%;
    padding: 5%;
}

.video-card-equipment {
    width: 100%;
    height: auto;
    background-color: darkred;
    border-radius: 25px;

    video {
        width: 100%;
        padding: 25px;
    }
}


.eduResource-container-primary {
    width: 100%;
    height: auto;
    padding: 5%;
}

.edu-card {
    width: 100%;
    height: auto;
    background-color: darkred;
    border-radius: 25px;
    padding-top: 20px;

    img {
        width: 50%;
        height: 50%;
        transform: translate(50%);
        padding: 5%;
    }

    h2 {
        font-size: 1.3vw;
        padding: 6%;
        padding-bottom: 8%;
        color: white;
    }

    .CTAE-IMG {
        width: 90%;
        transform: translate(5%);
    }
}

.contribute-container-primary {
    width: 100%;
    height: auto;
    padding: 3%;
}

.contribute-card {
    width: 57%;
    height: auto;
    background-color: darkred;
    border-radius: 25px;
    padding: 3%;
    transform: translate(35%);
    
    h1 {
        color: white;
        font-size: 2vw;
    }
}

.bg-white {
    background: white;
    border-radius: 15px;
}

.grid-3-edu-resource {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;

    @media screen and (max-width:768px) {
        grid-template-columns: 1fr;
        row-gap: 5%;

        h2 {
            font-size: 1.1rem;
            padding-bottom: 6rem;
        }
        margin-bottom: 10rem;
    }
}
.profile-container-primary {
    width: 100%;
    height: auto;
    padding: 5%;
}

.profile-card {
    width: 100%;
    height: auto;
    background-color: darkred;
    border-radius: 25px;
    margin-bottom: 2rem;
}

.grid-2-profile{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
        width: 90%;
        height: 90%;
        padding: 5%;
    }

    h1 {
        color: white;
        font-size: 2.5vw;
        padding: 5%;
    }

    p {
        color: white;
        padding: 5%;
        font-size: 1.8vw;
    }
}

.profile-button-modal {
    width: 20%;
    padding: 2%;
    transform: translate(10%,-60%);

    p {
        font-size:2vw;
        transform: translate(0%,10%);

    }
}

.modal-content-container {
    width: 100%;
    height: auto;
    padding: 5%;
}

.grid-2-modal-profile {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;

    div {
        width: 100%;
        height: auto;
        background-color: darkred;
        border-radius: 25px;
        color: white;
        padding: 5%;
    }
}

.alumni-grid-wrapper {
    width: 100%;
    height: auto;
    position: relative;
    padding: 5%;
    background-image: url(jchs-backdrop.peg);
}

.alumni-card {
    width: 100%;
    height: auto;
    background-color: darkred;
    border-radius: 20px;
    margin-top: 2rem;

    .card-grid-wrapper {
        width: 100%;
        height: auto;
        padding: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        img {
            width: 100%;
            position: relative;
            height: auto;
            border-radius: 20px;
        }
        h1 {
            font-size: 2vw;
            text-align: center;
            color: white;
        }

        p {
            color: white;
            padding: 5%;
            text-align: center;
        }

        .font-size-large {
            font-size: 1.4rem;

            @media screen and (max-width:768px) {
                font-size: 1rem;
            }
        }

        .font-size-med {
            font-size: 1.2rem;

            @media screen and (max-width:768px) {
                font-size: .9rem;
            }
        }

        @media screen and (max-width:768px) {
            grid-template-columns: 1fr;
        }
    }


}


@media (max-width: 1000px) {

    .strat-grid {
        grid-template-columns: 1fr;

        h2 {
            font-size: 3vw;
        }
    }
    .bullet-grid-container {
        grid-template-columns: 1fr;
    }
    .bullet-grid-container li {
        font-size: 3vw; 
    }

    .bullet-grid-container li::before {
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
    }

}

@media (max-width: 600px) {
    .strat-grid {
        padding: 1rem;
    }
    .bullet-grid-container li {
        font-size: 4vw;
        padding-left: 50px;
    }

}



@keyframes slide-divider {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@media screen and (max-width:500px) {
    .introWBL_wrapper{
        grid-template-columns: repeat(1, 1fr);
    }

    .introWBL_wrapper h1 {
        margin-top: 10%;
    }
    .wblContent_wrapper {

        grid-template-columns: repeat(1,1fr);

    }
    .wblContent_wrapper p {
        font-size: 2.5vw;
        margin-bottom: 10%;
    }
}

