* {
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca";
}

.videoSection-wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

.bg-IMG {
    position: absolute;
    width: 100%;
    height: 140%;
    object-fit: cover;
    filter: brightness(25%);}

.video-wrapper {
    position: relative;
    width: 80%;
    height: 95vh;
    padding:5rem;
    transform: translate(12%,20%);
    border-radius: 10%;
}

.grid-layout-wrapper {
    display: grid;
    grid-template-columns:1fr .7fr;
    column-gap: 0%;
    row-gap: 0%;
}

.videoContent-wrapper {
    color: white;
    text-align: center;
}

.videoContent-wrapper h1 {
    font-size:2.8vw;
}

.img-content {
    width: 90%;
    height: auto;
    position: relative;
    align-items: center;
    animation: popUp 0.7s ease-in-out;
}

@keyframes popUp {
    0% {
        transform: translateY(30%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes popUp-side {
    0% {
        transform: translateY(55%);
    }

    100% {
        transform: translateY(25%);
    }
}

.smallIMG-content {
    width:90%;
    height: auto;
    position: relative;
    transform: translate(0%,25%);
    animation: popUp-side 0.7s ease-in-out;
}

.img-content:hover {
    transform: scale(1.15);
    transition: 0.5s ease-in-out;
}

.img-content:not(:hover) {
    transform: scale(1.0);
    transition: 0.5s ease-in-out;
}

.smallIMG-content:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

.smallIMG-content:not(:hover) {
    width: 90%;
    transition: 0.5s ease-in-out;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100vh !important;
    overflow-y: hidden !important;
    z-index: 100;
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
    pointer-events: none;
}

.modal.show {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.modal-content {
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#videoModal .modal-content video {
    max-width: 100% !important;
    max-height: 70vh !important;
    width: auto !important;
    height: auto !important;
}

#videoModal-side .modal-content video {
    max-width: 100% !important;
    max-height: 70vh !important;
    width: auto !important;
    height: auto !important;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .grid-layout-wrapper {
        grid-template-columns: 1fr;
    }
    .smallIMG-content {
        transform: translateY(0%);
        width: 100%;
    }

    .img-content {
        width:100%;
    }
}